table#events-table {
  color: lighten(#000, 50);

  thead {
    tr {
      th {
        background-color: $bvg-blue;
        color: #fff;
        border-bottom: none; 
      }
    }
  }

  tr {
    background-color: #fff;

    &:nth-child(even) {
      background-color: rgba(#eee, 0.3);
    }

    td {
      position: relative;
      vertical-align: middle;
      padding: 5px 15px;

      h4 {
        margin: 0;
        padding: 0;
      }

      p {
        font-weight: 800;
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
        color: $bvg-blue;
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 38px;
        text-align: center;

      }
    }
  }
}