.spotlight {
  .spotlight-item {
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    img {
      width: 100%;
      border: 3px solid #fff;
      border-radius: 3px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    } 
  }
}

#gap-posts {
  border-bottom: 1px solid #aaa;

  &:last-child {
    border-bottom: 0;
  }

  img {
    border: 3px solid #fff;
    box-shadow: 0px 0px 5px #aaa;
    max-width: 300px;
  }
}

.block-post {
  .column {
    padding: 10px;

    article {
      border-radius: 3px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      border: none;
    }
  }

  img {
    min-width: 90% !important;
    max-width: 90% !important;
    border: 3px solid #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    margin: 15px auto;
    display: block;
  }
}