.spotlight {
  .spotlight-item {
    padding: 10px;
    border-radius: 3px;
    box-shadow: $bvg-box-shadow;

    img {
      width: 100%;
      border: $bvg-border;
      border-radius: 3px;
      box-shadow: $bvg-box-shadow;
    } 
  }
}

#gap-posts {
  article {
    padding: 10px;
    border: $bvg-border;
    box-shadow: $bvg-box-shadow;

    &:last-child {
      border-bottom: 0;
    }

    img {
      margin: 0 ($grid-gutter-width / 2) 0 0;
      border: $bvg-border;
      box-shadow: $bvg-box-shadow;
      max-width: 300px;
      float: left;
    }
  }
}

.block-post {
  .column {
    padding: 10px;

    article {
      border-radius: 3px;
      box-shadow: $bvg-box-shadow;
      border: none;
    }
  }

  img {
    min-width: 90% !important;
    max-width: 90% !important;
    border: $bvg-border;
    box-shadow: $bvg-box-shadow;
    margin: 15px auto;
    display: block;
  }
}