#sidebar {
  border: none;
  margin-top: 20px;
  width: 100%;

  h4 {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
  }

  .et_pb_widget, .et_pb_widget_area {
    ul {
      li {
        background-color: #eee;
        padding: 3px 12px !important;
        border-radius: 3px;
        margin: 0 0 10px;

        &:hover {
          background-color: #ddd;
        }

        &:last-child {
          margin: 0;
        }

        a {
          color: $bvg-blue;
        }
      }
    }
  }    
}

.textwidget {
  .call-out {
    h2 {
      margin: 0 0 10px;
    }

    a {
      color: #fff;
    }
  }
}