header {
  nav {
    &#top-menu-nav{
      ul {
        li {
          a {
            &:hover {
              color: $bvg-blue;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

#top-menu .menu-item-has-children > a:first-child {
  padding-right: 0;
}

#top-menu .menu-item-has-children > a:first-child:after, #et-secondary-nav .menu-item-has-children > a:first-child:after {
  content: "7";
  top: 10px;
  left: 0;
}