h1, h2, h3, h4, h5, h6 {
  color: $bvg-blue;
}

a {
  color: $bvg-blue;
}

strong {
  color: $bvg-blue;
}

ul {
  &.contact-us {
    li {
      padding: 0 0 10px;

      &:last-child {
        padding: 0;
      }
    }
  }

  &.social-icons {
    text-align: center;

    li {
      padding-right: 10px;
      display: inline-block;

      &:last-child {
        padding-right: 0;
      }

      i {
        font-size: 26px;
      }
    }
  }
}

.slanted {

  &:before {
    content: "";
    position: absolute;
    bottom: -90%;
    width: 100%;
    height: 250px;
    background-color: #fff;
    transform: rotate(-8deg) scale(2);
    z-index: 9999;
  }

    &:after {
    content: "";
    position: absolute;
    bottom: -90%;
    width: 100%;
    height: 250px;
    background-color: #fff;
    transform: rotate(8deg) scale(2);
    z-index: 9999;
  }
}