body {
  color: lighten(#000, 40);
}

h1, h2, h3, h4, h5, h6 {
  color: $bvg-blue;
}

a {
  color: $bvg-blue;
}

strong {
  color: $bvg-blue;
}

ul {
  &.contact-us {
    li {
      padding: 0 0 10px;

      &:last-child {
        padding: 0;
      }
    }
  }

  &.social-icons {
    text-align: center;

    li {
      padding-right: 10px;
      display: inline-block;

      &:last-child {
        padding-right: 0;
      }

      i {
        font-size: 26px;
      }
    }
  }
}

.call-out {
  padding: 20px 40px;
  background-color: #eee;
  border-radius: 10px;
  text-align: center;

  p {
    font-size: 18px;
    margin: 0;

    &:last-of-type {
      margin: 0 0 25px;
    }
  }
}

@media (min-width: $screen-sm) {

  .slanted {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 125%;
      width: 100%;
      height: 250px;
      background-color: #fff;
      transform: rotate(-3deg) scale(2);
      z-index: 9999;
    }

      &:after {
      content: "";
      position: absolute;
      top: 125%;
      width: 100%;
      height: 250px;
      background-color: #fff;
      transform: rotate(3deg) scale(2);
      z-index: 9999;
    }
  }
}

#main-content {
  .container {
    padding-top: 0px;
  }
}