#top-header {
  background-color: $bvg-blue;
  
  .top-container {
    padding: 10px 0 0;
  }

  ul { 
    text-align: center;

    li {
      display: inline;

      &:after {
        content: "|";
        margin: 0 10px;
      }

      &:last-child {
        &:after {
          content: " ";
          margin: 0;
        }
      }

      a {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: $screen-sm) {
  #top-header {
    ul {
      float: left;

      &.logins {
        float: right;
      }
    }
  }
}